#fullpage {
    background-color: #373B44;
    width: 100vw;
    height: 100vh;

    .section {
        width: 100vw;
        margin: 0;
        max-width: none;
        color: red;
        overflow: hidden;
        height: 100vh;
        position: relative;
        display: flex;

        &.title-page{
            background: url('../../assets/dashboard.jpg') #333;
            background-size: cover;
            .content {
                margin: auto;
                width: 100vw;
                height: 50vh;
                background-color: rgba(255, 255, 255, 0.85);
                display: flex;
                align-items: center;
            }
        }

        div {
            &.content {
            margin: auto;

            }

            &.footer {
                align-self: flex-end;
                position: absolute;
                bottom: 5vh;
                width: 100vw;
            }
        }

        .circular-button {
            height: 5vh;
            transform: rotate(90deg);
            fill: #fff;

            &:hover {
                fill: #666666
            }
        }
    }
}

.nav {
    position: fixed;
    top: 2em;
    left: 2em;
    z-index:100;
}
